# Archivos y carpetas generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual (si estás usando venv o virtualenv)
venv/
env/
*.env

# Archivos de configuración
config.ini
*.cfg

# Archivos de caché
.cache/

# Archivos de registro y de salida
*.log
*.out

# Carpeta de construcción
build/
dist/
*.egg-info/

# Archivos de entorno específicos de los desarrolladores
.env

# Carpeta de dependencias
lib/
lib64/
